In [4]:
import pandas as pd
from pandas.io.json import json_normalize
from source.transformer import DataTransformer
from source.manipulator import DataManipulator
import json
transformer = DataTransformer()
manipulator = DataManipulator()
with open('source/tests/alumnos_test.json', 'r') as archivo_alumnos:
            data = json.loads(archivo_alumnos.read())
            df_materias = transformer.transform_to_dataframe(data)
with open('source/tests/plan_test.json', 'r') as archivo_plan:
    data = json.loads(archivo_plan.read())
    df_plan = transformer.transform_to_dataframe(data)
df = transformer.merge_materias_con_plan(
            df_materias, df_plan)
len(df)

154

In [2]:
df = manipulator.filtrar_alumnos_de_materia_periodo(df, '00628', '2001-01-01', '2011-10-10')
df

,alumno,carrera,fecha,codigo,nota,resultado,area,cantidad_obligatoria_de,creditos,id,materia,nucleo,obligatorias,plan,recomendadas
28,1,D,2002-08-22,00628,A,A,None,0,9,179,QUÍMICA I,None,[],2003,[]
29,2,D,2004-07-01,00628,,U,None,0,9,179,QUÍMICA I,None,[],2003,[]
30,2,D,2005-07-01,00628,,U,None,0,9,179,QUÍMICA I,None,[],2003,[]
31,2,D,2008-07-01,00628,9,P,None,0,9,179,QUÍMICA I,None,[],2003,[]
32,3,D,2002-12-15,00628,,U,None,0,9,179,QUÍMICA I,None,[],2003,[]
33,3,D,2007-07-01,00628,,U,None,0,9,179,QUÍMICA I,None,[],2003,[]
34,3,D,2010-07-08,00628,8,P,None,0,9,179,QUÍMICA I,None,[],2003,[]

In [3]:
manipulator.cantidad_alumnos_desaprobados_periodo(df, '00628', '2001-01-01', '2010-10-10')

AttributeError: 'DataManipulator' object has no attribute 'cantidad_alumnos_desaprobados_periodo'

In [ ]:
manipulator.cantidad_alumnos_ausentes_periodo(df, '00628', '2001-01-01', '2010-10-10')

In [ ]:
manipulator.cantidad_alumnos_pendientes_periodo(df, '00628', '2001-01-01', '2010-10-10')

In [ ]:
manipulator.cantidad_alumnos_aprobados_periodo(df, '00628', '2001-01-01', '2010-10-10')

In [ ]:
manipulator.cantidad_alumnos_falta_aprobar_periodo(df, '00628', '2001-01-01', '2010-10-10')